.card-detail {
    margin: 60px;

    .title {
        margin-top: 60px;
        font-weight: normal;
        color: #333333;
        height: 40px;
    }

    .subtitle {
        color: #757575;
        text-align: center;
    }

    .button-wrapper {
        margin-top: 60px;
    }
}
